<p id="notice"><%= notice %></p>

<h1 class="text-decoration-underline"><%= @project.title %></h1>

<strong>Description:</strong>
<div class="shadow p-3 mb-5 bg-white rounded">
  <%= @project.description %>
</div>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-success" %> |
<%= link_to 'Back', projects_path, class: "btn btn-secondary" %>
